{% extends "base.tmpl" %}
{% block title %}{{ name }}{% endblock %}
{% block header %}
<ul class="pager">
    <li class="previous {% if not older %}disabled{% endif %}"><a href="#">&larr; {% if older %}{{ older }}{% else %}Older{% endif %}</a></li>
    <li>Version: {{ version }}</li>
    <li class="next {% if not newer %}disabled{% endif %}"><a href="#">{% if newer %}{{ newer }}{% else %}Newer{% endif %} &rarr;</a></li>
</ul>
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            {{ comment }}
        </div>
        <div class="col-xs-6 col-md-4">
            Published {{ published_date }} by {{ publisher_name }}.
        </div>
    </div>
    <div class="row">{{ content }}</div>
</div>
{% endblock %}
