{% extends "base.tmpl" %}
{% block title %}Submit New{% endblock %}
{% block content %}
<div class="container-fluid">
	<form role="form" id="newsubmit" method="POST">
		<div class="form-group">
			<label for="title" data-toggle="tooltip" data-placement="bottom" title="The title of the Standard you want to submit">Title:</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
		</div>
		<div class="from-group">
			<label for="version" data-toggle="tooltip" data-placement="bottom" title="The version Number/Name you want. Can be a string (i.e. '1.0RC2')">Version:</label>
			<input type="text" class="form-control" id="version" name="version" placeholder="Enter Version">
		</div>
		<div class="form-group">
			<label for="description" data-toggle="tooltip" data-placement="bottom" title="This should be a short description of the standard. Can be read in the Standards List.">Description:</label>
			<input type="text" class="form-control" id="description" name="description" placeholder="Enter witty comment here">
		</div>
		<div class="form-group">
			<label for="content" data-toggle="tooltip" data-placement="bottom" title="Actual Text of the Standard. Parsed in Markdown.">Content:</label>
			<textarea class="form-control" rows="10" id="content" name="content" placeholder="Enter actual content here. Or not. I don't care, I'm just a text input"></textarea>
		</div>
		<button type="submit" class="btn btn-default" id="submitform">Submit</button>
		
	</form>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}
